body {
  background-color: #e74c3c;
}

.logo {
    transition: .3s linear;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

/* TODO: Write Media Queries for responsiveness */
.logo a, h1 {
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    font-size: 4em;
    font-weight: 100;
    display: inline;
    color: white;
}

.logo p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    letter-spacing: 5px;
}

.search-title, .result-title {
    color: white;
    text-align: center;
    margin-top: 120px;
    font-family: 'Monda', sans-serif;
    letter-spacing: 5px;
    font-size: 1.7em;
}

.result-title {
    margin-top: 50px;
    font-size: 1.3em;
}

.typed-cursor {
    display: none;
}

.search-box {
    text-align: center;
    margin-top: 50px;
}

.search-box input {
    background-color: #e74c3c;
    outline: none;
    border:none;
    color: white;
    font-size: 2.3em;
    border-bottom: 1px solid white;
    font-family: 'Inconsolata';
    font-weight: 100;
    text-align: center;
    width: 70%;
}

.search-box button, .btn-login {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    padding: 15px 20px;
    margin-left: 10px;
    font-weight: 300;
    letter-spacing: 8px;
}

.search-box button:hover, .btn-login:hover {
    background-color: white;
    transition: linear 0.3s;
    color: #e74c3c;
}

.profile {
    position: fixed;
  	top: 0;
  	right: 0;
  	border: 0;
  	margin-top: 20px;
  	margin-right: 40px;
}

.profile > img {
    width:60px;
    border-radius:55px;
    margin-right: 0px;
}

.profile > button {
    padding: 5px 10px;
    font-size: 1em;
}

.btn-login {
    margin-top: 30px;
    text-align: center;
}

.search-box h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
}

.result-table {
    margin-top: 30px;
    margin-bottom: 30px;
}

.result-table table {
    text-align: center;
    font-family: 'Inconsolata';
    font-size: 3em;
    margin: 0 auto;
}

.results {
    margin-left: 10%;
    margin-top: 60px;
}

.results a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: black;
}

.results a:hover {
    color: white;
}

.result {
    margin-bottom: 20px;
}

.pages {
    margin-top: 100px;
    text-align: center;
}

.pages a {
    color: white;
    font-size: 1.5em;
    padding-right: 10px;
}

#history {
    font-size: 1.5em !important;
}

th {
    padding-right: 70px;
    padding-left: 65px;
}

#logout {
    transition: .2s linear;
    margin-top: 0px;
    font-size: 1em;
    border: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
    color: white;
}

#logout:hover {
    border: none;
    background-color: transparent;
    font-size: 1.3em;
}

.profile p {
  font-size: 1em;
  letter-spacing: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}
